.container {
    height: 2550px;
    width: 100vw;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: rgb(143, 143, 143);
}

.genre-section {
    height: 5vh;
    width: 100%;
    margin-top: 70px;
    overflow: hidden;
    background-color: black;
}

.genre-section > .genre-section-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 5vh;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.genre-section > .genre-section-wrapper:hover {
    overflow-y: hidden;
    overflow-x: scroll;
    padding-top: 5px;
}

.genre-section > .genre-section-wrapper::-webkit-scrollbar {
    height: 5px;
}

.genre-section > .genre-section-wrapper::-webkit-scrollbar-thumb {
    background: rgb(71, 70, 70);

}

.genre-section > .genre-section-wrapper::-webkit-scrollbar-track {
    background: rgb(124, 120, 120);
}

.genre-section > .genre-section-wrapper > button {
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: stretch;
    white-space: nowrap;
    transition: .2s;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.genre-section > .genre-section-wrapper > button:hover {
    color: violet;
    cursor: pointer;
}