* {
    margin: 0;
}

body {
    height: 969px;
    width: 100%;
}

.main-bg {
    background-image: url("../pic/login/new\ bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg > .main-body-wrapper {
    height: 80%;
}

.main-bg > .main-bg-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg > .main-body-wrapper > .logo-wrapper > a > .logo {
    height: 120px;
    width: 270px;
}

.login-content-wrapper {
    margin: auto;
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.login-content-wrapper > .login-content {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    height: 90%;
    width: 75%;
    padding-top: 5%;
}

.login-content-wrapper > .login-content > h1 {
    padding-bottom: 2%;
}

.login-content-wrapper > .login-content > .input-email {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.login-content-wrapper > .login-content > .input-email > input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: solid 3px rgb(53, 117, 255);
    padding: 0px 20px;
    font-size: .85em;
}

.login-content-wrapper > .login-content > .input-email > input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-content-wrapper > .login-content > .input-sign-in {
    height: 10%;
    width: 100%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-content-wrapper > .login-content > .input-sign-in > .sign-in {
    height: 150%;
    width: 80%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(53, 117, 255);
    color: white;
}

.login-content-wrapper > .login-content > .input-sign-in > .input-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-content-wrapper > .login-content > .input-sign-in > .sign-in:hover {
    background-color: rgb(22, 96, 255);
    cursor: pointer;
}

.login-content-wrapper > .login-content > .input-sign-in > .btn-logout {
    width: 20%;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(53, 117, 255);
    color: white;
}

.verify-btn{
    width: 250px;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(53, 117, 255);
    color: white;
}
.log-out-btn{
    width: 100px;
    padding: 15px 0px 15px 0px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: solid black;
    background-color: rgb(53, 117, 255);
    color: white;
    margin-top: 10px;
}

/* Bottom */

.bottom-wrapper {
    height: 20%;
}

.bottom-div {
    height: 100%;
    width: 100%;
}

.bottom-wrapper > .bottom-div > .question-nav {
    height: 20%;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
    padding-top: 55px;
    font-size: .92em;
    font-weight: bold;
}

.bottom-wrapper > .bottom-div > .navs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    align-items: center;
    height: 25%;
    width: 50%;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    padding-left: 20px;
    font-size: .85em;
}

.bottom-wrapper > .bottom-div > .navs > a {
    padding: 0px 30px;
}