* {
    margin: 0;
}

body {
    height: 969px;
    width: 100%;
}

.main-body {
    background-image: url("../pic/Landingpage/main\ bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-body > .main-body-wrapper > .logo-wrapper > a > .logo {
    height: 120px;
    width: 270px;
}

.main-body > .main-body-wrapper > .sign-in-wrapper {
    float: right;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    right: 30px;
    bottom: 88px;
}

.main-body > .main-body-wrapper > .sign-in-wrapper > a > .submit {
    background-color: rgb(122, 50, 255);
    border: none;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    right: 30px;
    font-size: 15px;
    font-family: 'Roboto Flex', sans-serif;
}

.main-body > .main-body-wrapper > .sign-in-wrapper > a > .submit:hover {
    background-color: rgb(146, 88, 255);
    cursor: pointer;
}

.main-body > .main-body-wrapper > .text-wrapper {
    padding-top: 130px;
    height: 400px;
    width: 40%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.main-body > .main-body-wrapper > .text-wrapper > .text {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 50px;
}

.main-body > .main-body-wrapper > .text-wrapper > .text2 {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 25px;
}

.main-body > .main-body-wrapper > .text-wrapper > a > button {
    padding-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(122, 50, 255);
    border: 1px solid rgb(122, 50, 255);
}

.main-body > .main-body-wrapper > .text-wrapper > a > button:hover {
    background-color: rgb(146, 88, 255);
    cursor: pointer;
}

.bottom-text-wrapper {
    width: 100%;
    height: 307px;
    background-color: white;
    border-top: solid 8px rgb(107, 107, 107);
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom-text-wrapper > .bottom-text {
    width: 30%;
    height: 70%;
    margin-top: 60px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2em;
}

.bottom-text-wrapper > .bottom-text > p {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 5px;
}

.bottom-text-wrapper > .bottom-video {
    width: 30%;
    height: 99%;
    margin: 2px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-text-wrapper > .bottom-video > .video-loop {
    height: 250px;
    width: 425px;
    background-size: cover;
    position: relative;
}

.bottom-text-wrapper > .bottom-video > .video-loop > video {
    height: 217px;
    border: 10px rgb(56, 56, 56) solid;
    border-radius: 3px;
}