* {
    margin: 0;
}

body {
    height: 969px;
    width: 100%;
}

.main-bg {
    background-image: url("../pic/login/new\ bg.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg > .main-body-wrapper {
    height: 80%;
}

.main-bg > .main-bg-img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg > .main-body-wrapper > .logo-wrapper > a > .logo {
    height: 120px;
    width: 270px;
}

.login-content-wrapper {
    margin: auto;
    height: 55%;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}

.login-content-wrapper > .login-content {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    height: 90%;
    width: 80%;
    padding-left: 43px;
}

.login-content-wrapper > .login-content > h1 {
    padding-bottom: 10px;
}

.login-content-wrapper > .login-content > .sign-in-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.login-content-wrapper > .login-content > .sign-in-logo-wrapper > img {
    height: 120px;
    width: 270px;
}

.login-content-wrapper > .login-content > .input-email {
    height: 10%;
    width: 80%;
    padding-bottom: 20px;
}

.login-content-wrapper > .login-content > .input-email > .email {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    border: solid 1px black;
    padding-left: 15px;
}

.login-content-wrapper > .login-content > .input-password {
    height: 10%;
    width: 80%;
    padding-bottom: 20px;
}

.login-content-wrapper > .login-content > .input-password > .password {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    border: solid 1px black;
    padding-left: 15px;
}

.login-content-wrapper > .login-content > .input-sign-in {
    height: 10%;
    width: 100%;
    padding-bottom: 10px;
}

.login-content-wrapper > .login-content > .input-sign-in > .sign-in {
    height: 100%;
    width: 86.8%;
    border-radius: 5px;
    border: solid 1px black;
    padding-left: 15px;
    background-color: rgb(53, 117, 255);
    color: white;
}

.login-content-wrapper > .login-content > .input-sign-in > .sign-in:hover {
    background-color: rgb(22, 96, 255);
    cursor: pointer;
}

.check-box-input > span {
    padding-right: 20px;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: .8em;
}

.check-box-input > a {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    font-size: .8em;
}

.check-box-input > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.new-in-moviehan {
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    padding-top: 100px;
    display: flex;
}

.new-in-moviehan > a {
    text-decoration: none;
    padding-left: 5px;
    color: inherit;
}

.new-in-moviehan > .sign-up-now:hover {
    text-decoration: underline;
    cursor: pointer;
}

.new-in {
    padding-right: 5px;
}

/* Bottom */

.bottom-wrapper {
    height: 20%;
}

.bottom-div {
    height: 100%;
    width: 100%;
}

.bottom-wrapper > .bottom-div > .question-nav {
    height: 20%;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 70px;
    padding-top: 55px;
}

.bottom-wrapper > .bottom-div > .navs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25%;
    color: white;
    font-family: 'Roboto Flex', sans-serif;
    padding-left: 20px;
}

.bottom-wrapper > .bottom-div > .navs > a {
    padding: 0px 50px;
}